RDS_MYSQL_USERNAME=llmdata
RDS_MYSQL_PASSWORD=llmdata
RDS_MYSQL_HOST=mysql-db
RDS_MYSQL_PORT=3306
RDS_MYSQL_DBNAME=llm

# possible value: 'service', 'docker'. Will route to Secrets Manager if set to 'service'. Will use env vars below if set to 'docker'
OPENSEARCH_TYPE=service
AOS_HOST=opensearch-node1
AOS_PORT=9200
AOS_AWS_REGION=us-west-2
AOS_DOMAIN=llm-data-analytics
AOS_INDEX=uba
AOS_INDEX_NER=uba_ner
AOS_INDEX_AGENT=uba_agent
AOS_USER=admin
AOS_PASSWORD=admin

BEDROCK_REGION=us-west-2
RDS_REGION_NAME=us-west-2
AWS_DEFAULT_REGION=us-west-2
DYNAMODB_AWS_REGION=us-west-2

EMBEDDING_DIMENSION=1536
BEDROCK_EMBEDDING_MODEL=amazon.titan-embed-text-v1

# If you need to use ak/sk to access bedrock, please configure bedrock's ak/sk to Secrets Manager, Examples are as follows
# BEDROCK_SECRETS_AK_SK=bedrock-ak-sk

BEDROCK_SECRETS_AK_SK=

OPENSEARCH_SECRETS_URL_HOST=opensearch-host-url
OPENSEARCH_SECRETS_USERNAME_PASSWORD=opensearch-master-user

# SAGEMAKER_ENDPOINT_EMBEDDING=

COGNITO_REGION=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_AUTH_PATH=

