.session_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px !important;
}

.new_session_btn {
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
  padding: 12px 12px !important;
  color: black !important;
}

.session {
  border: none !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  padding: 12px 12px !important;
  color: black !important;
  width: 100%;
  height: 100%;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  background: transparent !important;
  &:hover {
    box-shadow: 0 0 4px 1px #cdcdcdb3 inset;
    transform: scale(0.99);
  }
  &:focus {
    outline: none;
    border-color: transparent;
  }
}

.menu {
  padding: 12px 12px !important;
}