.top-nav {
  height: 56px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  zIndex: 1002;
}

.logo {
  height: 40px;
  right: 0;
  position:fixed;
  text-align: center;
  margin-top: 8px;
  margin-right: 10px;
}