.login-page {
  width: 500px;
  height: 400px;
  position: relative;
  top: 300px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 1px 14px rgba(0, 7, 22, 0.14), 0 0 4px rgba(65, 77, 92, 0.2);
  align-content: center;
}

.login-container {
  width: 400px;
  margin: auto;
}